<link rel="stylesheet" href="/css/user_profile.css">
<h1>Here you can see -> <%= A_users%></h1>

<% if(user.id == profile_user.id) { %>
    <!-- IF USER MATCHES THEN SHOW THE FORM -->
    <form action="/users/update/<%= profile_user.id %>" method="post">
      <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
      <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
      <input type="submit" value="Update">
    </form>
  
  <% } else { %>
    <!-- ELSE SHOW ONLY THE PROFILE INFO -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
  <% } %>